<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'base.html' %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container text-center">

    <div style="text-align:center"><h1>Star Wars universe planets</h1></div>
    {% block content %}{% endblock %}




          <div style="text-align:left;margin-bottom: 25px;margin-left: -10px">
             <form action ="/planets" method="post">
            <button type="submit" id=form1 name="prevbutton" value="{{data['previous']}}" style="margin-bottom: 15px" class="btn btn-primary">Previous 10</button>

        </form>
               <form action ="/planets" method="post">
            <button type="submit" id=form2 name="nextbutton" value="{{data['next']}}" class="btn btn-primary">Next 10</button>

        </form>

    </div>

  <div class="row">

    <div class="col-md p-3 mb-2 bg-light text-dark border text-center">
      <b>Name</b>
    </div>
    <div class="col-md p-3 mb-2 bg-light text-dark border text-center">
      <b>Diameter</b>
    </div>
      <div class="col-md p-3 mb-2 bg-light text-dark border text-center">
      <b>Climate</b>
    </div>
    <div class="col-md p-3 mb-2 bg-light text-dark border text-center">
      <b>Terrain</b>
    </div>
        <div class="col-md p-3 mb-2 bg-light text-dark border text-center">
      <b>Surface water</b>
    </div>
        <div class="col-md p-3 mb-2 bg-light text-dark border text-center">
          <b>Population</b>
    </div>
        <div class="col-md p-3 mb-2 bg-light text-dark border text-center">
      <b>Residents</b>
    </div>
  </div>
    {% for list in data['results'] %}
    <div class="row text-center" style="height:75px;line-height:75px">

              <div class="col bg-light text-dark border" style="text-align: center">
                  <span style="display: inline-block;text-align: center">{{list.name}}</span>
                 </div>
            <div class="col bg-light text-dark border">
                <span style="display: inline-block;text-align: center">{{ "{:,.0f}km".format(list.diameter|float) }}</span>
            </div>
            <div class="col bg-light text-dark border" style="text-align: center">
                <span style="display: inline-block;text-align: center">{{list.climate}}</span>
            </div>
            <div class="col bg-light text-dark border" style="text-align: center">
              <span style="display: inline-block;text-align: center">{{list.terrain}}</span>
            </div>
            <div class="col bg-light text-dark border" style="text-align: center">
                {% if list.surface_water != 'unknown' %}
                     <span style="display: inline-block;text-align: center">{{"{}%".format(list.surface_water)}}</span>
                {% else %}
                <span style="display: inline-block;text-align: center">{{list.surface_water}}</span>

                 {% endif %}
             </div>
        <div class="col bg-light text-dark border" style="text-align: center">
            {% if list.population != 'unknown' %}
             <span style="display: inline-block;text-align: center">{{ "{:,.0f} people".format(list.population|float) }}</span>

          {% else %}
            <span style="display: inline-block;text-align: center">{{list.population}}</span>

          {% endif %}
        </div>
        <div class="col bg-light text-dark border" style="text-align: center">

            {% if list.residents|length == 0 %}
            <span style="display: inline-block;text-align: center">No known residents.</span>
            {% else %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#residentModal" onclick='getResidentsLink("{{list.residents}}")'>
                          {{"{} resident(s)".format(list.residents|length) }} </button>
            {% endif %}
        </div>


    </div>



    {% endfor %}
    <div class="modal fade" id="residentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Residents</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container text-center" id="modalcontent">


        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>