{% include 'base.html' %}
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container text-center">
<form class="form-horizontal" action='/register' method="POST">
  <fieldset>
    <div id="legend">
      <legend class="" style="margin-left: 80px">Register</legend>
    </div>
    <div class="control-group">
       {% if taken %}
          <b style="margin-left: 150px">This username is already taken</b>
          {% endif %}
      <div class="controls">
          <p>Username</p>

        <input type="text" id="username" name="username" placeholder="Username" class="input-xlarge">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <p>Password</p>
        <input type="password" id="password" name="password" placeholder="password" class="input-xlarge">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type=submit class="btn btn-success">Register</button>
      </div>
    </div>
  </fieldset>
</form>
</div>